// color palette (not within css variables)
$th-green: #5FCF80;

$main: #ffffff;
$off-main: #FAFAFB;

$main-accent: #E7ECEE;
$off-main-accent: darken($main-accent, 5%);

$primary-color: black;


// components
$panel-size: 250px;